html{
    box-sizing: border-box;
}
.title{
        background: yellow;
        font-size: 1.2em;
        text-align: center;
        padding: 0.3px;
}
.navigator{
    background: rgb(78, 78, 78);;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    white-space: nowrap;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 40px;
    height: 50px;
}
nav li{
    width: 15%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: white;
}

img{
    width: 20%;
    height: 20%;
}
header{
background: url(/images/img.png);
background-size: 100%;
background-position: center;
}
header section{
    background: rgba(0, 0, 0, 0.8);
}
.letter1{
    font-size: 50px;
    color: yellow;
}
.letter2{
    font-size: 42px;
    color: white;
}
.letter3{
    font-size: 30px;
    color: white;
}
.aboutthesong{
    background-color: yellow;
    color: black;
    padding: 15px;
    font-size: 2em;
}
aside{
    background-color: rgb(78, 78, 78);
    width: 26%;
    color: white;
    font-size: 1em;
    background-position: left;
}
#cite1, a{
    color: yellow;
}

.btn1, .btn2, .btn3, .btn4{
    border-left: 2px solid yellow;
    font-size: 1.5rem;
    background-color: yellow;
    width: 100px;
    padding: 10px;
}
.chorus{
    padding-left: 24px;
}
.finalbtn{
   background-color: yellow;
   padding: 3px;
   width: 100%;
   font-weight: bold;
   color: black;
   font-style: normal;
   font-size: 1em;
}
#cite1{
    font-style: normal;
    font-size: 1em;
    color: black;
}